<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <div class="col-md-4">
        ツイート<br />
        <strong><%= current_user.microposts.count %></strong>
      </div>
      <div class="col-md-4">
        フォロー<br />
        <% @user ||= current_user %>
        <strong><a href="<%= following_user_path(@user) %>"><%= @user.followed_users.count %></strong>
      </div>
      <div class="col-md-4">
        
      </div>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= current_user.microposts.count %> 件のツイート
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>自分のツイート一覧</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <tr>
            <th>ID</th>
            <th>アイコン</th>
            <th>ツイート</th>
            <th>ツイート時間</th>
            <th>削除</th>
          </tr>
          <% @feed_items.each do |feed_item| %>
            <tr>
              <td><%= feed_item.id %></td>
              <td><%= link_to gravatar_for(feed_item.user), feed_item.user %></td>
              <td><%= feed_item.content %></td>
              <td><%= time_ago_in_words(feed_item.created_at) %>前</td>
              <td>
                <% if current_user == feed_item.user %>
                  <%= link_to "delete", feed_item, method: :delete, class: "btn btn-danger fa fa-trash-o" %>
                <% else %>
                  <%= link_to "", class: "btn btn-danger fa fa-trash-o", disabled: "disabled" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
      
    <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails, previous_label: '前', next_label: '次' %>

  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
    This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>